name: Java CI with Gradle

on:
  push:
   branches: [ "master" ]

permissions:
  contents: read

jobs:
  notify-discord-start:
    name: Notify Discord (start)
    uses: Jonathing/GithubActionsJavaBuild/.github/workflows/notify-discord-about-build-status.yml@master
    with:
      build_status: started
    secrets:
      webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Make Gradle executable
      run: chmod +x ./gradlew

    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2
      with:
        arguments: build
      env:
        JAVA_HOME: $JAVA_HOME_17_X64 # https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md#java

  notify-discord-end:
    name: Notify Discord (end)
    needs: [ "notify-discord-start", "build" ]
    if: ${{ always() }}
    uses: Jonathing/GithubActionsJavaBuild/.github/workflows/notify-discord-about-build-status.yml@master
    with:
      build_status: ${{ needs.build.result }}
      build_number: ${{ needs.notify-discord-start.outputs.build_number }}
    secrets:
      webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
